/* -------------------------------------------------- */
/* 基本設定
/* -------------------------------------------------- */

/* 色 */
:root
{
  --font-color: rgb(64, 32, 12);
  --bg-color: rgb(255, 240, 220);
  --strong-color: rgb(50, 100, 200);
  --sub-color: rgb(200, 100, 50);
}

/* ボディ */
body
{
  padding: 10px;
  background: var(--bg-color);

  color: var(--font-color);
}

/* -------------------------------------------------- */
/* 入力系
/* -------------------------------------------------- */

/* インプット・セレクトボックス・テキストエリア */
input,
select,
textarea
{
  color: var(--font-color) !important;
  background: #fff;
  border: solid 2px var(--font-color);
  border-radius: 4px;

  padding: 8px;
}
input:disabled
{
  border-color: transparent;
}

/* チェックボックス */
input[type="checkbox"]
{
  width: 30px;
  height: 30px;

  cursor: pointer;
}
input[type="checkbox"]:disabled
{
  cursor: default;
}

/* セレクトボックス */
select:disabled
{
  border-color: transparent;
  opacity: 1 !important;
  appearance: none;
}

/* ボタン */
button
{
  color: #fff;

  background: var(--strong-color);
  border: none;
  border-radius: 30px;

  cursor: pointer;
}

/* -------------------------------------------------- */
/* 見出し
/* -------------------------------------------------- */

h1
{
  margin: 0;
}

h2
{
  color: var(--bg-color);
  background: var(--font-color);
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4
{
  margin: 0px;
}

/* -------------------------------------------------- */
/* レイアウト
/* -------------------------------------------------- */

p
{
  margin: 0;
}
p + p
{
  margin-top: 8px;
}

.row_input + .row_input
{
  margin-top: 8px;
}

/* 行 */
[class^="row_"]
{
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
}

/* エリア間隔 */
[id^="area"] + [id^="area"]
{
  margin-top: 20px;
}

/* 説明 */
.note
{
  margin-left: 12px;
}
.note + .note
{
  margin-top: 12px;
}
.noteTitle
{
  color: var(--bg-color);
  background: var(--font-color);
  border-radius: 4px;
  padding: 4px;
}

/* 非表示 */
.hidden
{
  display: none !important;
}

/* -------------------------------------------------- */
/* 設定
/* -------------------------------------------------- */

/* ラベル */
.row_input > .inputLabel
{
  display: flex;
  background-color: var(--sub-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 100px;
  height: 100%;
  padding: 4px 16px;

  color: var(--bg-color);
  text-align: center;
  white-space: nowrap;
}

/* インプット */
.row_input > input
{
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* サイト */
#select_site
{
  width: 15em;
}

/* URL */
.input_url
{
  width: 20em;
}
.urlSuffix
{
  display: none;
}

/* ボタン */
.row_input > button
{
  min-width: 8em;
  height: 100%;
  padding: 0 8px;
}

/* エラー */
.text_error
{
  color: #c00;
}

/* -------------------------------------------------- */
/* ステータス
/* -------------------------------------------------- */

/* プリセットボタン */
.buttons_preset
{
  margin-bottom: 8px;
}

/* キャラクター一覧に表示されるステータス */
.list_display
{
  display: inline-block;
  border: solid 2px var(--font-color);
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}

/* キャラクター一覧に表示されないステータス */
.list_notDisplay
{
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
}

/* カード */
.card_status
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  padding: 4px;
}

/* ブロック */
.card_status > .valueBlock
{
  background-color: var(--sub-color);
  min-width: 390px;
  margin: 0 !important;
  padding: 8px;
}

.valueBlock > input
{
  width: 100px;
  height: 25px;

  font-size: 20px;
  text-align: right;
}

/* ステータス名 */
.valueBlock > input.name
{
  margin-left: 0;
  margin-right: auto;

  font-size: inherit;
  text-align: left;
}

/* / */
.valueBlock > span.slash
{
  margin-left: 4px;
  margin-right: 4px;

  text-align: center;
}

/* ※ */
.valueBlock > span.note
{
  margin-left: 4px;

  font-size: 10px;
}

/* -------------------------------------------------- */
/* テンプレート：カテゴリー
/* -------------------------------------------------- */

/* エリア */
.acordionArea
{
  border: solid 4px var(--sub-color);
  border-radius: 4px;
}

/* タイトル */
.categoryTitle
{
  display: flex;
  border-bottom: dotted 3px var(--font-color);

  font-size: 20px;
  font-weight: bold;
  align-items: center;

  padding: 4px;
}
.acordionArea h3
{
  color: #fff;
  margin: 0;
}

/* 武器チェックボックス */
.categoryTitle > input[type="checkbox"]
{
  margin-right: 8px;
}

/* 武器：備考 */
.weaponNote
{
  background: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  flex-basis: 100%;
  margin: 2px;
  margin-top: 8px;
  padding: 2px 4px;

  font-size: 12px;
}

/* 能力値ボーナス：無効 */
.valueBlock.flat > .value
{
  opacity: 0.5;
}

/* コンテンツ */
.acordionArea > .contents
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 8px;
}

/* 閉じる */
.acordionArea.close > .contents
{
  display: none;
}

/* タイトル */
.acordionTitleRow
{
  display: flex;
  align-items: center;
  background: var(--sub-color);
  padding: 4px 8px;
  z-index: 1;
  position: sticky;
  top: 0;
}

/* チェックボックス*/
.acordionTitleRow > input[type="checkbox"]
{
  margin-right: 8px;
}

/* 「開閉」ボタン */
.acordionTitleRow > button
{
  width: 70px;
  height: 40px;
  margin-left: auto;
}

/* -------------------------------------------------- */
/* テンプレート：行為判定
/* -------------------------------------------------- */

.area_roll
{
  min-width: calc(50% - 5px);
  box-sizing: border-box;

  padding: 8px;
}

/* -------------------------------------------------- */
/* テンプレート：技能レベル
/* -------------------------------------------------- */

/* 技能レベル：無効 */
.skillDisabled .value
{
  opacity: 0.5;
}

/* -------------------------------------------------- */
/* ブロック */
/* -------------------------------------------------- */

.valueBlock
{
  color: #fff;

  background-color: var(--font-color);
  border-radius: 4px;

  padding: 0 8px;
}

/* ブロック：値 */
.valueBlock > .value
{
  font-size: 25px;
  font-weight: bold;
}
.valueBlock > .name + .value
{
  margin-left: 10px;
}

/* 平目 */
.skillDisabled .valueBlock,
.valueBlock.flat
{
  background-color: #888 !important;
}

/* 器用度 */
.valueBlock.Dex,
.valueBlock.NB1
{
  background-color: rgb(128, 0, 128);
}

/* 敏捷度 */
.valueBlock.Agi,
.valueBlock.NB2
{
  background-color: rgb(64, 64, 128);
}

/* 筋力 */
.valueBlock.Str,
.valueBlock.NB3
{
  background-color: rgb(128, 64, 64);
}

/* 生命力 */
.valueBlock.Vit,
.valueBlock.NB4
{
  background-color: rgb(128, 128, 0);
}

/* 知力 */
.valueBlock.Int,
.valueBlock.NB5
{
  background-color: rgb(0, 128, 128);
}

/* 精神力 */
.valueBlock.Mnd,
.valueBlock.NB6
{
  background-color: rgb(64, 128, 64);
}

/* -------------------------------------------------- */
/* タイトル内チェックボックス */
/* -------------------------------------------------- */

/* サプリメントラベル */
.book
{
  background-color: var(--font-color);
  border-radius: 4px;

  color: #fff;
  font-size: 15px;

  padding: 0 4px;
  margin-right: 4px;
}

/* カード置き場 */
.skills
{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

/* カード */
.card_skill
{
  display: flex;
  align-items: center;

  border: solid 2px var(--font-color);
  border-radius: 4px;

  padding: 4px;
}
.card_skill.skillDisabled
{
  background-color: #ccc;
}

.skillDisabled input[type="checkbox"]
{
  opacity: 0.25;
  cursor: default;
  pointer-events: none;
}

/* 技能名 */
.skillName
{
  margin-left: 8px;

  font-weight: bold;
}

/* 能力値ボーナス */
.valueBlock
{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--font-color);
  border-radius: 4px;

  padding: 0 8px;

  color: #fff;
  font-size: 15px;
}
.skillDisabled .valueBlock
{
  background-color: #888;
}

/* ブロック間隔 */
* + .valueBlock
{
  margin-left: 8px;
}

/* 追加効果 */
.extraEffect
{
  font-size: 15px;

  margin-left: 4px;
}

/* 条件付き */
.condition
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  color: var(--font-color);
  font-size: 15px;

  background: rgb(255, 255, 128);
  border-radius: 4px;

  margin-left: 8px;
  padding: 8px;
}
.condition.alert
{
  background: rgb(192, 192, 255);
}
.skillDisabled .condition.alert
{
  background: rgb(255, 192, 192) !important;
}

/* -------------------------------------------------- */
/* ナビテキスト
/* -------------------------------------------------- */

.navi_text
{
  opacity: 0;
  transition: opacity 1s;
}

.navi_text.show
{
  opacity: 1;
}

/* -------------------------------------------------- */
/* ローディング
/* -------------------------------------------------- */

#loading
{
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  z-index: 100;

  color: #fff;
  font-size: 30px;
  font-weight: bold;

  background: rgba(0, 0, 0, 0.5);
}
